*{
    padding: 0px;
    margin: 0px;
    border: none;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.curso {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    width: 200px;
    border: 2px solid #2d2c2c;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px;
    cursor: pointer;
}

.caixa{
    border: 4px solid #585858;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    height: 500px;
    width: 300px;
}
.texto{
    width: 200px;
    padding: 5px;
    border: 2px solid #333;
    border-radius: 8px;
    font-size: 16px;
}

.botao{
    width: 150px;
    padding: 5px;
    background-color: #6c7bee;
    border: 2px solid #6c7bee;
    border-radius: 8px;
    font-size: 16px;
}